@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

#icon {
  height: 7em;
  width: 7em;
}

.font-xl {
  font-size: 5rem;
}

.location {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.font-lg {
  font-size: 3.5rem;
}

.bi-sunrise-fill {
  color: #ffbf00;
}

.bi-sunset-fill {
  color: #7393b3;
}

.bi-thermometer-high {
  color: #ee4b2b;
}

.bi-thermometer-low {
  color: #6082b6;
}

.card {
  height: 15em;
}

#map {
  height: 100vh;
}

.bg-custom {
  /* From https://css.glass */
  background: rgba(226, 223, 210, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(226, 223, 210, 0.44);
}
